{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "babel-plugin-add-module-exports"
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}